:root {
  --blue-ocean: #005b96;
  --light-blue: #cce7ff;
  --gray: #f5f5f5;
  --text-dark: #333;
  --white: #fff;
}

.about-page {
  max-width: 900px;
  margin: 3rem auto;
  margin-top: 0 ;
  padding: 0 2rem;
  color: var(--text-dark);
}

.about-page h1 {
  color: var(--blue-ocean);
  text-align: center;
  margin-bottom: 2rem;
}

.company-history,
.mission-values,
.team-intro {
  margin-bottom: 3rem;
}

.mission-values ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  line-height: 1.6;
  font-weight: 600;
  color: var(--blue-ocean);
}



/* .team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  margin-top: 1.5rem;
} */

/* .team-member {
  background-color: var(--white);
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.team-member img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.team-member h3 {
  color: var(--blue-ocean);
  margin: 0.3rem 0;
}

.team-member p {
  font-size: 0.9rem;
  color: #555;
} */