:root {
  --blue-ocean: #005b96;
  --light-blue: #cce7ff;
  --gray: #f5f5f5;
  --text-dark: #333;
  --white: #fff;
}


/* .section{
    text-align: left;
} */
.contact-page {
  max-width: 900px;
  margin: 3rem auto;
  margin-top: 0;
  padding: 0 2rem;
  color: var(--text-dark);
}

.contact-page h1 {
  color: var(--blue-ocean);
  text-align: center;
  margin-bottom: 1rem;
}

.contact-page p {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.contact-content {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}



.contact-info {
  flex: 1 1 300px;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  color: var(--text-dark);
  /* text-align: left; */
}

a{
    text-decoration: none;
    color: var(--blue-ocean);
}
.contact-info h2 {
  color: var(--blue-ocean);
  margin-bottom: 1rem;
}

.contact-info h3 {
  color: var(--blue-ocean);
  margin: 1.5rem;
}

.contact-info p {
  margin-bottom: 0.7rem;
  font-weight: 600;
}